{{ 'nicepage.css' | asset_url | stylesheet_tag }}
<script src="{{ 'nicepage.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "banner1",
    "settings": []
  }
{% endschema %}
   <section class="u-clearfix u-white u-section-1" id="sec-0431">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-28 u-image-1" data-image-width="3456" data-image-height="5184">
              <div class="u-container-layout">
                <div class="u-opacity u-opacity-60 u-palette-4-light-3 u-shape u-shape-rectangle u-shape-1"></div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-32 u-white u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <img src="https://cdn.shopify.com/s/files/1/0588/7960/6899/files/spot1.png?v=1706631842" class="u-expanded-width-xs u-hidden-xs u-image u-image-contain u-image-default u-opacity u-opacity-70 u-image-2" width="656" height="630">
                <div class="u-container-style u-group u-image u-image-3" data-image-width="1000" data-image-height="1500">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
                <div class="u-container-style u-group u-group-2">
                  <div class="u-container-layout u-valign-middle-sm u-container-layout-4">
                    <h1 class="u-custom-font u-text u-text-body-alt-color u-title u-text-1">
                      <span style="font-weight: normal;">Beauty</span>
                      <br>Faces
                    </h1>
                    <h6>
                    <p>True beauty comes from within. It is the light that shines from within and illuminates everything it touches.</p>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   