{{ 'nicepage.css' | asset_url | stylesheet_tag }}
<script src="{{ 'nicepage.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "banner1",
    "settings": []
  }
{% endschema %}
<style>
  .drawer {
    visibility: hidden;
    }
</style>
 <section class="u-clearfix u-image u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-section-2" id="sec-c839">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-container-style u-group u-opacity u-opacity-90 u-shape-rectangle u-group-1">
                    <div class="u-container-layout u-container-layout-2">
                      <div class="u-container-style u-custom-color-2 u-expanded-width-xs u-group u-shape-rectangle u-group-2">
                        <div class="u-container-layout u-container-layout-3">
                          <div class="u-container-style u-group u-palette-4-light-2 u-group-3">
                            <div class="u-container-layout u-container-layout-4">
                              <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-1"></div>
                              <p class="u-custom-font u-font-merriweather u-text u-text-body-alt-color u-text-1"> From elegant dresses to casual ensembles, our clothing is designed to express love in every detail. Soft colors, delicate fabrics, and styles that enchant; this collection is the perfect choice to celebrate the day of love with style and elegance..&nbsp;</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <img src="https://cdn.shopify.com/s/files/1/0588/7960/6899/files/manchitablanca.png?v=1706561619" alt="" class="custom-expanded u-hidden-xs u-image u-image-contain u-image-default u-opacity u-opacity-65 u-image-1" width="591" height="572">
                  <img class="u-border-20 u-border-palette-2-light-2 u-image u-image-2" src="https://cdn.shopify.com/s/files/1/0588/7960/6899/products/bd4504a0-d4d4-4930-98f9-912d8ef6b340-Min.jpg?v=1705951905" width="400" height="599" data-animation-name="jackInTheBox" data-animation-duration="1000" data-animation-direction="" alt="Buy Dress Violetta&Rc">
                  <div class="custom-expanded u-align-center u-container-style u-group u-opacity u-opacity-90 u-white u-group-4">
                    <div class="u-container-layout u-container-layout-5">
                      <a href="https://www.violettarc.com/collections/women-s-casual-clothing"><p class="u-custom-font u-text u-text-2">Dresses</p></a> 
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>