@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}
.text-btn
{
  margin-top:-250px;
  padding: 30px;
  color: white;
  font-size: 24px;
}
.tar-mini-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/mini.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-maxi-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/maxi.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-midi-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/midi.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-beach-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/beach.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-bridesmaid-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/bridesmaid.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-casual-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/casual.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-cocktail-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/cocktail.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-floral-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/floral.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-formal-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/formal.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-graduation-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/graduation.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-party-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/party.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-psize-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/plussize.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-saten-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/saten.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-sweater-b {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/7960/6899/files/swater.png'); /* Ruta a tu imagen PNG */
    background-position: center;  
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
}
.tar-style
{
    display: block; 
    width: 100px; /* Ancho de la imagen */
    height: 150px; /* Alto de la imagen */
    margin-left: 1px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Quita el contorno al hacer clic */
    transition: transform 1s ease-in-out;
    text-decoration: none; 
}
.tar-style h4
{
 position:relative;
 font-weight: 900;
 top: 82%;
 text-align: center;
 background-color: rgba(0, 0, 0, 0.20);

}

.tar-container {
    display: flex;
    height: 200px;  
    width: 100%; /* Ancho al 100% del viewport */
    overflow-x: auto; /* Utiliza auto en lugar de scroll */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; /* Agrega desplazamiento suave */
    white-space: nowrap; /* Evita que las tarjetas se envuelvan a la siguiente línea */
}
.tar-container::-webkit-scrollbar {
    display: none;
}
.tar-card {
    flex: 0 0 auto; /* Para que las tarjetas no se agranden para llenar el espacio disponible */
    margin-right: -1px; /* Espacio entre las tarjetas */
}
